@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&family=VT323&display=swap');
@import "./colours", "./defaults";

.App {

  // Grid Design:

  display: grid;

  .Introduction {
    grid-area: introduction;
  }

  .Pokemonchoice {
    grid-area: pokemonchoice;
  }

  .Teamgenerator {
    grid-area: teamgenerator;
  }

  footer {
    grid-area: footer;
  }

  @media (min-width: $mq_mobile) {
    grid-template-columns: 0.5fr 1.5fr; 
    grid-template-rows: 1fr 2fr 1fr; 
    grid-template-areas: 
    "introduction introduction"
    "pokemonchoice teamgenerator"
    "footer footer"; 

    .Pokemonchoice {
      border-right: 3px dotted $colour_darkgrey;
    }
  }
    grid-template-columns: 1fr; 
    grid-template-rows: 0.5fr 1fr 2fr 0.3fr; 
    grid-template-areas: 
    "introduction"
    "pokemonchoice"
    "teamgenerator"
    "footer"; 


    // Introduction Design

    .Introduction {

      margin: 10px;

        p {
          text-align: center;
          padding: 10px;
        }
    }
    
    // Pokémon Choice Design

    .Pokemonchoice {

      padding: 10px;

        img {
          width: 150px;
        }
    }

    // Teamgenerator Design

    .Teamgenerator {

      padding: 10px;

      .Teamcards {

        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-items: baseline;
        margin: 10px;

          @media (min-width: $mq_mobile) {
            hr {
              width: 100%;
              border: 0;
            }
          }
          
          @media (max-width: $mq_mobile) {
            hr {
              display: none;
            }
          }

        .Teamcard {
          margin: 15px;
        }

      }

    }


    // Footer Design 

    footer {

      margin: 10px;

       p {
          text-align: center;
          padding: 10px;
      }
    }

    // General Styling
   
    .GenerateButton {
      font-weight: bold;
      display: block;
      margin: 0 auto;
    }

    .type {
      margin: 3px 6px 3px 0;
      padding: 3px 6px;
      border-radius: 5px;
    }
    
}