@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&family=VT323&display=swap');
@import "./colours", "./defaults";

.App {

  .GenerateButton {
    display: block;
    margin: 0 auto;
    
  }

  // Grid Design:

  display: grid;

  .Introduction {
    grid-area: introduction;
  }

  .Pokemonchoice {
    grid-area: pokemonchoice;
  }

  .Teamgenerator {
    grid-area: teamgenerator;
  }

  footer {
    grid-area: footer;
  }

  @media (min-width: $mq_mobile) {
    grid-template-columns: 0.5fr 1.5fr; 
    grid-template-rows: 0.8fr 3fr 1fr; 
    grid-template-areas: 
    "introduction introduction"
    "pokemonchoice teamgenerator"
    "footer footer"; 

    .Pokemonchoice {
      border-right: 3px dotted $colour_darkgrey;
    }
  }
    grid-template-columns: 1fr; 
    grid-template-rows: 0.5fr 1fr 2fr 0.5fr; 
    grid-template-areas: 
    "introduction"
    "pokemonchoice"
    "teamgenerator"
    "footer"; 


    // Introduction Design

    p {
      text-align: center;
      margin: 10px;
    }


    // Pokémon Choice / Menu Design

    .Pokemonchoice {

      padding: 10px;

      img {
        width: 150px;
      }

    }

    // Teamgenerator Design

    .Teamgenerator {

      padding: 10px;

      .Teamcards {

        display: flex;
        justify-content: center;
        align-items: baseline;
        margin: 10px;

        .Teamcard {
          margin: 10px;
        }

      }

    }


    // Footer Design 

    footer {

      margin: 10px;

       p {
          text-align: center;
          padding: 10px;
      }
    }
   

    
}