// logo colours
$colour_yellow: #ffcb05;
$colour_lightblue: #3d7dca;
$colour_darkblue: #003A70;

// pokédex
$colour_red: #e4000f;
$colour_grey: #eeeeee;
$colour_darkgrey: #2e2e2e;

// type colours
$colour_type_bug: #94bc4a;
$colour_type_dark: #736c75;
$colour_type_dragon: #6a7baf;
$colour_type_electric: #e5c531;
$colour_type_fairy: #e397d1;
$colour_type_fighting: #cb5f48;
$colour_type_fire: #ea7a3c;
$colour_type_flying: #7da6de;
$colour_type_ghost: #846ab6;
$colour_type_grass: #71c558;
$colour_type_ground: #cc9f4f;
$colour_type_ice: #70cbd4;
$colour_type_normal: #aab09f;
$colour_type_poison: #b468b7;
$colour_type_psychic: #e5709b;
$colour_type_rock: #b2a061;
$colour_type_steel: #89a1b0;
$colour_type_water: #539ae2;