@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

@import "colours.scss";

body {
    margin: 0;
    background-color: $colour_grey;
    border: 30px solid $colour_red;
  }
  
* {
    font-family: 'VT323', sans-serif;
    color: $colour_type_bug;
  }


  .App {
    text-align: center;
    min-height: 100%;
  }